# Исключаем лишние файлы и папки из репозитория
node_modules/
dist/
.git/
.vscode/
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.log
android/app/build/
android/.gradle/
.env
.DS_Store
npm-debug.log
pnpm-debug.log
coverage/
.idea/
*.iml
*.apk
*.keystore# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
